In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('data-2.csv/data-2.csv')
df1.head()

C:\Users\tinph\AppData\Local\Temp\ipykernel_36996\2706779610.py:1: DtypeWarning: Columns (15,32,33,34,46,47,48,51,52,53,54,83,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('data-2.csv/data-2.csv')

,change_type,covered_recipient_type,teaching_hospital_ccn,teaching_hospital_id,teaching_hospital_name,covered_recipient_profile_id,covered_recipient_npi,covered_recipient_first_name,covered_recipient_middle_name,covered_recipient_last_name,...,associated_drug_or_biological_ndc_4,associated_device_or_medical_supply_pdi_4,covered_or_noncovered_indicator_5,indicate_drug_or_biological_or_device_or_medical_supply_5,product_category_or_therapeutic_area_5,name_of_drug_or_biological_or_device_or_medical_supply_5,associated_drug_or_biological_ndc_5,associated_device_or_medical_supply_pdi_5,program_year,payment_publication_date
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1379339,1.821382e+09,SAMI,MOHAMMED,ALI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,06/30/2022
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1214545,1.902070e+09,SHILPA,NaN,SHAH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,06/30/2022
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,77353,1.700851e+09,JEFFREY,W,ANDREY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,06/30/2022
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1706859,1.407119e+09,KAMILA,NaN,BAKIRHAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,06/30/2022
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,603327,1.437272e+09,RAMESH,NaN,KUMAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,06/30/2022

In [4]:
df2 = pd.read_csv('salesmonthly.csv')
df2

         datum   M01AB    M01AE    N02BA     N02BE   N05B  N05C    R03     R06
0   2014-01-31  127.69   99.090  152.100   878.030  354.0  50.0  112.0   48.20
1   2014-02-28  133.32  126.050  177.000  1001.900  347.0  31.0  122.0   36.20
2   2014-03-31  137.44   92.950  147.655   779.275  232.0  20.0  112.0   85.40
3   2014-04-30  113.10   89.475  130.900   698.500  209.0  18.0   97.0   73.70
4   2014-05-31  101.79  119.933  132.100   628.780  270.0  23.0  107.0  123.70
..         ...     ...      ...      ...       ...    ...   ...    ...     ...
65  2019-06-30  151.54  101.627  103.200   610.000  193.0  25.0  142.0  156.04
66  2019-07-31  181.00  103.541   92.800   649.800  250.6  20.0  115.0  105.20
67  2019-08-31  181.91   88.269   84.200   518.100  237.0  26.0  145.0   97.30
68  2019-09-30  161.07  111.437   93.500   984.480  227.8  16.0  161.0  109.10
69  2019-10-31   44.37   37.300   20.650   295.150   86.0   7.0   37.0   11.13

[70 rows x 9 columns]

In [5]:
df1.columns

Index(['change_type', 'covered_recipient_type', 'teaching_hospital_ccn',
       'teaching_hospital_id', 'teaching_hospital_name',
       'covered_recipient_profile_id', 'covered_recipient_npi',
       'covered_recipient_first_name', 'covered_recipient_middle_name',
       'covered_recipient_last_name', 'covered_recipient_name_suffix',
       'recipient_primary_business_street_address_line1',
       'recipient_primary_business_street_address_line2', 'recipient_city',
       'recipient_state', 'recipient_zip_code', 'recipient_country',
       'recipient_province', 'recipient_postal_code',
       'covered_recipient_primary_type_1', 'covered_recipient_primary_type_2',
       'covered_recipient_primary_type_3', 'covered_recipient_primary_type_4',
       'covered_recipient_primary_type_5', 'covered_recipient_primary_type_6',
       'covered_recipient_specialty_1', 'covered_recipient_specialty_2',
       'covered_recipient_specialty_3', 'covered_recipient_specialty_4',
       'covered_recipient_specialty_5', 'covered_recipient_specialty_6',
       'covered_recipient_license_state_code1',
       'covered_recipient_license_state_code2',
       'covered_recipient_license_state_code3',
       'covered_recipient_license_state_code4',
       'covered_recipient_license_state_code5',
       'submitting_applicable_manufacturer_or_applicable_gpo_name',
       'applicable_manufacturer_or_applicable_gpo_making_payment_id',
       'applicable_manufacturer_or_applicable_gpo_making_payment_name',
       'applicable_manufacturer_or_applicable_gpo_making_payment_state',
       'applicable_manufacturer_or_applicable_gpo_making_payment_country',
       'total_amount_of_payment_usdollars', 'date_of_payment',
       'number_of_payments_included_in_total_amount',
       'form_of_payment_or_transfer_of_value',
       'nature_of_payment_or_transfer_of_value', 'city_of_travel',
       'state_of_travel', 'country_of_travel', 'physician_ownership_indicator',
       'third_party_payment_recipient_indicator',
       'name_of_third_party_entity_receiving_payment_or_transfer_of_ccfc',
       'charity_indicator', 'third_party_equals_covered_recipient_indicator',
       'contextual_information', 'delay_in_publication_indicator', 'record_id',
       'dispute_status_for_publication', 'related_product_indicator',
       'covered_or_noncovered_indicator_1',
       'indicate_drug_or_biological_or_device_or_medical_supply_1',
       'product_category_or_therapeutic_area_1',
       'name_of_drug_or_biological_or_device_or_medical_supply_1',
       'associated_drug_or_biological_ndc_1',
       'associated_device_or_medical_supply_pdi_1',
       'covered_or_noncovered_indicator_2',
       'indicate_drug_or_biological_or_device_or_medical_supply_2',
       'product_category_or_therapeutic_area_2',
       'name_of_drug_or_biological_or_device_or_medical_supply_2',
       'associated_drug_or_biological_ndc_2',
       'associated_device_or_medical_supply_pdi_2',
       'covered_or_noncovered_indicator_3',
       'indicate_drug_or_biological_or_device_or_medical_supply_3',
       'product_category_or_therapeutic_area_3',
       'name_of_drug_or_biological_or_device_or_medical_supply_3',
       'associated_drug_or_biological_ndc_3',
       'associated_device_or_medical_supply_pdi_3',
       'covered_or_noncovered_indicator_4',
       'indicate_drug_or_biological_or_device_or_medical_supply_4',
       'product_category_or_therapeutic_area_4',
       'name_of_drug_or_biological_or_device_or_medical_supply_4',
       'associated_drug_or_biological_ndc_4',
       'associated_device_or_medical_supply_pdi_4',
       'covered_or_noncovered_indicator_5',
       'indicate_drug_or_biological_or_device_or_medical_supply_5',
       'product_category_or_therapeutic_area_5',
       'name_of_drug_or_biological_or_device_or_medical_supply_5',
       'associated_drug_or_biological_ndc_5',
       'associated_device_or_medical_supply_pdi_5', 'program_year',
       'payment_publication_date'],
      dtype='object')

In [11]:
df3 = df1.filter(items=['covered_recipient_first_name','covered_recipient_last_name','date_of_payment','applicable_manufacturer_or_applicable_gpo_making_payment_name','total_amount_of_payment_usdollars','number_of_payments_included_in_total_amount'])
df3

,covered_recipient_first_name,covered_recipient_last_name,date_of_payment,applicable_manufacturer_or_applicable_gpo_making_payment_name,total_amount_of_payment_usdollars,number_of_payments_included_in_total_amount
0,SAMI,ALI,06/19/2019,"Secura Bio, Inc.",14.55,1
1,SHILPA,SHAH,07/26/2019,"Secura Bio, Inc.",64.79,1
2,JEFFREY,ANDREY,07/17/2019,"Secura Bio, Inc.",64.78,1
3,KAMILA,BAKIRHAN,07/17/2019,"Secura Bio, Inc.",19.60,1
4,RAMESH,KUMAR,07/17/2019,"Secura Bio, Inc.",64.78,1
...,...,...,...,...,...,...
101385,HARESH,JHANGIANI,11/25/2019,"Ipsen Biopharmaceuticals, Inc",19.90,1
101386,TIFFANY,NGUYEN,04/04/2019,"Ipsen Biopharmaceuticals, Inc",113.96,1
101387,TARA,SEERY,07/30/2019,"Ipsen Biopharmaceuticals, Inc",28.25,1
101388,LINDSEY,STOYCHEFF,04/11/2019,Bayer HealthCare Pharmaceuticals Inc.,11.49,1
101389,CHRISTINA,NGUYEN,10/01/2019,Bayer HealthCare Pharmaceuticals Inc.,19.62,1

In [32]:
company_df = df1.filter(items=['applicable_manufacturer_or_applicable_gpo_making_payment_name','total_amount_of_payment_usdollars']).groupby('applicable_manufacturer_or_applicable_gpo_making_payment_name')
company_df['total_amount_of_payment_usdollars'].sum()

applicable_manufacturer_or_applicable_gpo_making_payment_name
3M Company                             4663.95
ALK-Abello, Inc                       23254.10
AMAG Pharmaceuticals, Inc.            19384.06
ASSERTIO THERAPEUTICS, Inc.            5970.58
AbbVie, Inc.                           4599.97
                                        ...
Vanda Pharmaceuticals Inc.            31590.50
Veloxis Pharmaceuticals, Inc.         45846.89
Vertical Pharmaceuticals, LLC          3810.30
ViiV Healthcare Company                4838.60
West Therapeutics Development, LLC      570.22
Name: total_amount_of_payment_usdollars, Length: 123, dtype: float64